<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update</title>
</head>

<body style="font-family:Arial, Verdana, sans-serif">
<h2>Update User info</h2>

<form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

  <label for="username">Enter username: </label>
  <input type="text" th:field="*{username}" id="username">

  <br/>
  <br/>

  <label for="password">Enter password: </label>
  <input type="text" th:field="*{password}" id="password">

  <br/>
  <br/>

  <label for="role">Enter role (1 or 2): </label>
  <input type="text" th:field="*{roles}" id="role">

  <br/>
  <br/>

  <input type="submit" value="Update">
</form>

<br/>
<br/>
<a href="/admin/read">Read all Users</a>
<br/>
<br/>
<a href="/admin/create">Create new User</a>
<br/>
<br/>
<a href="/index">Log out</a>
</body>
</html>