<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>

<body style="font-family:Arial, Verdana, sans-serif">
<h2>User info page</h2>

<p th:text="'Id: ' + ${user.getId()}"></p>
<p th:text="'Username: ' + ${user.getUsername()}"></p>
<p th:text="'Password: ' + ${user.getPassword()}"></p>
<br/>
<br/>
<a href="/logout">Logout</a>
<br/>
<br/>
<hr>
<br/>
<form th:method="GET" th:action="@{/admin/{id}/update(id = ${user.getId()})}">
    <input type="submit" value="Update: staff only">
</form>
<br/>
<form th:method="DELETE" th:action="@{/admin/{id}(id = ${user.getId()})}">
    <input type="submit" value="Delete: staff only">
</form>
</body>
</html>